In [1]:
import pandas as pd

df = pd.read_csv("./submission_task1.csv")

In [2]:
df

,Group,Week,Day,Hour,Subject,Name
0,QC_1,неделя 1,пн,9:00-10:00,нет занятий,нет занятий
1,QC_1,неделя 1,пн,10:00-11:00,нет занятий,нет занятий
2,QC_1,неделя 1,пн,11:00-12:00,нет занятий,нет занятий
3,QC_1,неделя 1,пн,12:00-13:00,нет занятий,нет занятий
4,QC_1,неделя 1,пн,13:00-14:00,нет занятий,нет занятий
...,...,...,...,...,...,...
1915,QC_2,неделя 2,сб,12:00-13:00,нет занятий,нет занятий
1916,QC_2,неделя 2,сб,13:00-14:00,нет занятий,нет занятий
1917,QC_2,неделя 2,сб,14:00-15:00,Моделирование квантовых алгоритмов,Соколов
1918,QC_2,неделя 2,сб,15:00-16:00,Моделирование квантовых алгоритмов,Соколов
1919,QC_2,неделя 2,сб,16:00-17:00,нет занятий,нет занятий

In [3]:
custom_dict_group = {'QC_1': 0, 'QC_2': 1}
custom_dict_week = {'неделя 1': 0, 'неделя 2': 1}
custom_dict_day = {'пн': 0, 'вт': 1, 'ср': 2, 'чт': 3, 'пт': 4, 'сб': 5, 'вс': 6}
custom_dict_hour = {'9:00-10:00': 0, '10:00-11:00': 1, '11:00-12:00': 2, '12:00-13:00': 3, '13:00-14:00': 4, '14:00-15:00': 5, '15:00-16:00': 6, '16:00-17:00': 7}


pll = df.sort_values(by=['Day'], key=lambda x: x.map(custom_dict_day) , ignore_index=True)

In [4]:
pll['Group_N'] =  pll['Group'].apply(lambda x: custom_dict_group[x])
pll['Week_N'] =  pll['Week'].apply(lambda x: custom_dict_week[x])
pll['Day_N'] =  pll['Day'].apply(lambda x: custom_dict_day[x])
pll['Hour_N'] =  pll['Hour'].apply(lambda x: custom_dict_hour[x])

In [5]:
pll

,Group,Week,Day,Hour,Subject,Name,Group_N,Week_N,Day_N,Hour_N
0,QC_1,неделя 2,пн,9:00-10:00,нет занятий,нет занятий,0,1,0,0
1,QC_1,неделя 2,пн,10:00-11:00,нет занятий,нет занятий,0,1,0,1
2,QC_1,неделя 2,пн,11:00-12:00,нет занятий,нет занятий,0,1,0,2
3,QC_1,неделя 2,пн,12:00-13:00,нет занятий,нет занятий,0,1,0,3
4,QC_1,неделя 2,пн,13:00-14:00,нет занятий,нет занятий,0,1,0,4
...,...,...,...,...,...,...,...,...,...,...
1915,QC_1,неделя 1,сб,12:00-13:00,нет занятий,нет занятий,0,0,5,3
1916,QC_1,неделя 1,сб,13:00-14:00,нет занятий,нет занятий,0,0,5,4
1917,QC_1,неделя 1,сб,14:00-15:00,нет занятий,нет занятий,0,0,5,5
1918,QC_1,неделя 1,сб,15:00-16:00,нет занятий,нет занятий,0,0,5,6
1919,QC_1,неделя 2,сб,16:00-17:00,нет занятий,нет занятий,0,1,5,7

In [6]:
pll = pll.sort_values(by=['Group_N','Week_N','Day_N','Hour_N'], ignore_index=True)

In [7]:
pl = pll

In [8]:
pld=pl.drop(['Group_N','Week_N','Day_N','Hour_N'], axis =1)

In [9]:
pld.to_csv("./solution_sort.csv", index=False)

Проверка условий

In [10]:
custom_dict_subject = {'Квантовая механика': 0, 'Квантовая теория информации': 1, 'Квантовые вычисления': 2, 'Сложность квантовых алгоритмов': 3, 'Квантовые алгоритмы в логистике': 4,
                        'Квантовое машинное обучение': 5, 'Моделирование квантовых систем': 6, 'Квантовые алгоритмы в химии': 7,'Физическая реализация квантовых компьютеров': 8,
                        'Моделирование квантовых алгоритмов': 9, 'нет занятий': 10}
custom_dict_subjectyn = {'Квантовая механика': 1, 'Квантовая теория информации': 1, 'Квантовые вычисления': 1, 'Сложность квантовых алгоритмов': 1, 'Квантовые алгоритмы в логистике': 1,
                        'Квантовое машинное обучение': 1, 'Моделирование квантовых систем': 1, 'Квантовые алгоритмы в химии': 1,'Физическая реализация квантовых компьютеров': 1,
                        'Моделирование квантовых алгоритмов': 1, 'нет занятий': 0}

custom_dict_teacher = {'Иванов': 0, 'Петров': 1, 'Сидоров': 2, 'Карпов': 3, 'Соколов': 4, 'нет занятий': 10}
custom_dict_teacheryn = {'Иванов': 1, 'Петров': 1, 'Сидоров': 1, 'Карпов': 1, 'Соколов': 1, 'нет занятий': 0}


pll['Subject_N'] =  pll['Subject'].apply(lambda x: custom_dict_subject[x])
pll['Subject_yn'] =  pll['Subject'].apply(lambda x: custom_dict_subjectyn[x])
pll['Teacher_N'] =  pll['Name'].apply(lambda x: custom_dict_teacher[x])
pll['Teacher_yn'] =  pll['Name'].apply(lambda x: custom_dict_teacheryn [x])


pll['Day_N_thru'] = pll['Week_N']*6 + pll['Day_N']

pll['Hour_N_thru'] = pll['Group_N']*2*6*8 + pll['Week_N']*6*8 + pll['Day_N']*8 + pll['Hour_N']

pll

,Group,Week,Day,Hour,Subject,Name,Group_N,Week_N,Day_N,Hour_N,Subject_N,Subject_yn,Teacher_N,Teacher_yn,Day_N_thru,Hour_N_thru
0,QC_1,неделя 1,пн,9:00-10:00,нет занятий,нет занятий,0,0,0,0,10,0,10,0,0,0
1,QC_1,неделя 1,пн,9:00-10:00,нет занятий,нет занятий,0,0,0,0,10,0,10,0,0,0
2,QC_1,неделя 1,пн,9:00-10:00,нет занятий,нет занятий,0,0,0,0,10,0,10,0,0,0
3,QC_1,неделя 1,пн,9:00-10:00,нет занятий,нет занятий,0,0,0,0,10,0,10,0,0,0
4,QC_1,неделя 1,пн,9:00-10:00,нет занятий,нет занятий,0,0,0,0,10,0,10,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1915,QC_2,неделя 2,сб,16:00-17:00,нет занятий,нет занятий,1,1,5,7,10,0,10,0,11,191
1916,QC_2,неделя 2,сб,16:00-17:00,нет занятий,нет занятий,1,1,5,7,10,0,10,0,11,191
1917,QC_2,неделя 2,сб,16:00-17:00,нет занятий,нет занятий,1,1,5,7,10,0,10,0,11,191
1918,QC_2,неделя 2,сб,16:00-17:00,нет занятий,нет занятий,1,1,5,7,10,0,10,0,11,191
1919,QC_2,неделя 2,сб,16:00-17:00,нет занятий,нет занятий,1,1,5,7,10,0,10,0,11,191

In [11]:
#0.1.1 У двух групп занятия не могут идти одновременно с одним преподавателем
import numpy as np

def prove_011():
    pl1 = pll[(pll.Group =='QC_1')].reset_index(drop=True)
    pl2 = pll[(pll.Group =='QC_2')].reset_index(drop=True)
    plcompare = pl1

    plcompare['equal'] = ((pl1['Subject'] == pl2['Subject']) & (pl1['Subject'] != 'нет занятий'))

    return bool(not (plcompare['equal']=='False').sum())

prove_011()

True

In [12]:
#0.2 Преподаватель не может одновременно вести два предмета

def prove_02():
    pl1 = pl[(pl.Group =='QC_1') ].reset_index(drop=True)
    pl2 = pl[(pl.Group =='QC_2') ].reset_index(drop=True)
    plcompare = pl1
    plcompare['equal'] = (pl1['Name'] == pl2['Name']) & (pl2['Name'] != 'нет занятий')

    return bool(not (plcompare['equal']=='False').sum())

prove_02()

True

In [13]:
#0.3 У группы может идти только одно занятие в срезе группа-день-час

def prove_03():
    pl1 = pl[(pl.Group =='QC_1') & (pl.Subject != 'нет занятий')].reset_index(drop=True)
    pl2 = pl[(pl.Group =='QC_2') & (pl.Subject != 'нет занятий')].reset_index(drop=True)
    s1 =len(pl1['Hour_N_thru'])- len(pl1['Hour_N_thru'].drop_duplicates())
    s2= len(pl2['Hour_N_thru'])- len(pl2['Hour_N_thru'].drop_duplicates())
    return bool(not (s1+s2)),s1,s2

prove_03()

(True, 0, 0)

In [14]:
#2. В день может быть поставлено не более 6 лекций в расписании группы

def prove_02():
    pl1 = pl[(pl.Group =='QC_1') ].reset_index(drop=True)
    pl2 = pl[(pl.Group =='QC_2') ].reset_index(drop=True)

    #lessons_per_day_gr1 = []
    #for i in range(len(pl1)):
    s1 =pl1.groupby(['Day_N_thru'])['Subject_yn'].sum()
    s2 =pl2.groupby(['Day_N_thru'])['Subject_yn'].sum()

    return bool((s1.max()<=6) & (s2.max() <=6)), s1,s2

prove_02()

(True,
 Day_N_thru
 0     4
 1     0
 2     4
 3     6
 4     6
 5     0
 6     0
 7     0
 8     4
 9     6
 10    6
 11    4
 Name: Subject_yn, dtype: int64,
 Day_N_thru
 0     3
 1     0
 2     1
 3     6
 4     6
 5     0
 6     0
 7     0
 8     6
 9     6
 10    6
 11    6
 Name: Subject_yn, dtype: int64)

In [15]:
#3. В день не может быть более двух занятий по одному предмету у группы.

def prove_03():
    pl1 = pl[(pl.Group =='QC_1') ].reset_index(drop=True)
    pl2 = pl[(pl.Group =='QC_2') ].reset_index(drop=True)

    #lessons_per_day_gr1 = []
    #for i in range(len(pl1)):
    s1 =pl1.groupby(['Day_N_thru', 'Subject'])['Subject_yn'].sum()
    s2 =pl2.groupby(['Day_N_thru', 'Subject'])['Subject_yn'].sum()

    return bool((s1.max()<=2) & (s2.max() <=2)), s1,s2

prove_03()

(True,
 Day_N_thru  Subject
 0           Моделирование квантовых алгоритмов             2
             Физическая реализация квантовых компьютеров    2
             нет занятий                                    0
 1           нет занятий                                    0
 2           Моделирование квантовых алгоритмов             2
             Физическая реализация квантовых компьютеров    2
             нет занятий                                    0
 3           Квантовая механика                             2
             Квантовая теория информации                    2
             Квантовые вычисления                           2
             нет занятий                                    0
 4           Квантовая механика                             2
             Квантовая теория информации                    2
             Квантовые вычисления                           2
             нет занятий                                    0
 5           нет занятий                                    0
 6           нет занятий                                    0
 7           нет занятий                                    0
 8           Квантовые алгоритмы в химии                    2
             Моделирование квантовых систем                 2
             нет занятий                                    0
 9           Квантовое машинное обучение                    2
             Квантовые алгоритмы в логистике                2
             Сложность квантовых алгоритмов                 2
             нет занятий                                    0
 10          Квантовое машинное обучение                    2
             Квантовые алгоритмы в логистике                2
             Сложность квантовых алгоритмов                 2
             нет занятий                                    0
 11          Квантовые алгоритмы в химии                    2
             Моделирование квантовых систем                 2
             нет занятий                                    0
 Name: Subject_yn, dtype: int64,
 Day_N_thru  Subject
 0           Моделирование квантовых алгоритмов             2
             Физическая реализация квантовых компьютеров    1
             нет занятий                                    0
 1           нет занятий                                    0
 2           Моделирование квантовых систем                 1
             нет занятий                                    0
 3           Квантовая механика                             2
             Квантовая теория информации                    2
             Квантовые вычисления                           2
             нет занятий                                    0
 4           Квантовая механика                             1
             Квантовая теория информации                    2
             Квантовые вычисления                           2
             Сложность квантовых алгоритмов                 1
             нет занятий                                    0
 5           нет занятий                                    0
 6           нет занятий                                    0
 7           нет занятий                                    0
 8           Квантовое машинное обучение                    1
             Квантовые алгоритмы в химии                    2
             Моделирование квантовых систем                 2
             Физическая реализация квантовых компьютеров    1
             нет занятий                                    0
 9           Квантовое машинное обучение                    2
             Квантовые алгоритмы в логистике                2
             Моделирование квантовых систем                 1
             Сложность квантовых алгоритмов                 1
             нет занятий                                    0
 10          Квантовая механика                             1
             Квантовое машинное обучение                    1
             Квантовые алгоритмы в логистике                2
             Сложность квантовых алгоритмов                 2
             нет занятий                                    0
 11          Квантовые алгоритмы в химии                    2
             Моделирование квантовых алгоритмов             2
             Физическая реализация квантовых компьютеров    2
             нет занятий                                    0
 Name: Subject_yn, dtype: int64)

In [16]:
#4 Так получилось, что преподаватель n1 не может вести лекции в среду,
#а n2 в понедельник, а n3 никак не может работать по субботам, n4, n5 –
#не могут вести занятия по вторникам. Воскресенье - день без занятий

def prove_04():

  n1 = pl[(pl['Name']=='Иванов') & (pl['Day']=='cр')].groupby(['Subject'])['Subject_yn'].count()
  n2 = pl[(pl['Name']=='Петров') &(pl['Day']=='пн')].groupby(['Subject'])['Subject_yn'].count()
  n3 = pl[(pl['Name']=='Сидоров') &(pl['Day']=='сб')].groupby(['Subject'])['Subject_yn'].count()
  n4 = pl[(pl['Name']=='Карпов') &(pl['Day']=='вт')].groupby(['Subject'])['Subject_yn'].count()
  n5 = pl[(pl['Name']=='Соколов') &(pl['Day']=='вт')].groupby(['Subject'])['Subject_yn'].count()


  return  bool((len(n1)== 0) & (len(n2)== 0) & (len(n3)== 0) & (len(n4)== 0) & (len(n5)== 0)), len(n1),len(n2),len(n3),len(n4),len(n5)

prove_04()

(True, 0, 0, 0, 0, 0)

In [17]:
# 5.По требованию учебной программы для каждого предмета должно быть выделено
# 4 часа за период T = 2 недели для каждой группы.

def prove_05():

    s1 =pl[(pl.Group =='QC_1') & (pl.Subject != 'нет занятий')].groupby(['Subject'])['Subject_yn'].sum()
    s2 =pl[(pl.Group =='QC_2') & (pl.Subject != 'нет занятий')].groupby(['Subject'])['Subject_yn'].sum()

    return bool((s2.min() == 4) & (s2.max() == 4) & (s2.min() == 4) & (s2.max() == 4)), s1, s2

prove_05()

(True,
 Subject
 Квантовая механика                             4
 Квантовая теория информации                    4
 Квантовое машинное обучение                    4
 Квантовые алгоритмы в логистике                4
 Квантовые алгоритмы в химии                    4
 Квантовые вычисления                           4
 Моделирование квантовых алгоритмов             4
 Моделирование квантовых систем                 4
 Сложность квантовых алгоритмов                 4
 Физическая реализация квантовых компьютеров    4
 Name: Subject_yn, dtype: int64,
 Subject
 Квантовая механика                             4
 Квантовая теория информации                    4
 Квантовое машинное обучение                    4
 Квантовые алгоритмы в логистике                4
 Квантовые алгоритмы в химии                    4
 Квантовые вычисления                           4
 Моделирование квантовых алгоритмов             4
 Моделирование квантовых систем                 4
 Сложность квантовых алгоритмов                 4
 Физическая реализация квантовых компьютеров    4
 Name: Subject_yn, dtype: int64)

In [19]:
#6. Каждый преподаватель имеет ограниченное число часов в неделю на
# работу E ≤ 20.

def prove_06():

    n1_1 = pl[(pl['Name']=='Иванов') & (pl['Week']=='неделя 1')].groupby(['Name'])['Subject_yn'].sum()
    n1_2 = pl[(pl['Name']=='Иванов') & (pl['Week']=='неделя 2')].groupby(['Name'])['Subject_yn'].sum()

    n2_1 = pl[(pl['Name']=='Петров') & (pl['Week']=='неделя 1')].groupby(['Name'])['Subject_yn'].sum()
    n2_2 = pl[(pl['Name']=='Петров') & (pl['Week']=='неделя 2')].groupby(['Name'])['Subject_yn'].sum()

    n3_1 = pl[(pl['Name']=='Сидоров') & (pl['Week']=='неделя 1')].groupby(['Name'])['Subject_yn'].sum()
    n3_2 = pl[(pl['Name']=='Сидоров') & (pl['Week']=='неделя 1')].groupby(['Name'])['Subject_yn'].sum()

    n4_1 = pl[(pl['Name']=='Карпов') & (pl['Week']=='неделя 1')].groupby(['Name'])['Subject_yn'].sum()
    n4_2 = pl[(pl['Name']=='Карпов') & (pl['Week']=='неделя 1')].groupby(['Name'])['Subject_yn'].sum()

    n5_1 =pl[(pl['Name']=='Соколов') & (pl['Week']=='неделя 1')].groupby(['Name'])['Subject_yn'].sum()
    n5_2 =pl[(pl['Name']=='Соколов') & (pl['Week']=='неделя 2')].groupby(['Name'])['Subject_yn'].sum()
    
    n1_1 = 0 if len(n1_1) == 0 else n1_1[0]
    n1_2 = 0 if len(n1_2) == 0 else n1_2[0]
    
    n2_1 = 0 if len(n2_1) == 0 else n2_1[0]
    n2_2 = 0 if len(n2_2) == 0 else n2_2[0]
    
    n3_1 = 0 if len(n3_1) == 0 else n3_1[0]
    n3_2 = 0 if len(n3_2) == 0 else n3_2[0]
    
    n4_1 = 0 if len(n4_1) == 0 else n4_1[0]
    n4_2 = 0 if len(n4_2) == 0 else n4_2[0]
    
    n5_1 = 0 if len(n5_1) == 0 else n5_1[0]
    n5_2 = 0 if len(n5_2) == 0 else n5_2[0]
    return bool((int(n1_1) <=20) & (int(n1_2) <=20) & (int(n2_1) <=20) & (int(n2_2) <=20) & (int(n3_1) <=20) & (int(n3_2) <=20) & (int(n4_1) <=20) & (int(n4_2) <=20) & (int(n5_1) <=20) & (int(n5_2) <=20))

prove_06()

/tmp/ipykernel_77358/540074054.py:21: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  n1_1 = 0 if len(n1_1) == 0 else n1_1[0]
/tmp/ipykernel_77358/540074054.py:22: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  n1_2 = 0 if len(n1_2) == 0 else n1_2[0]
/tmp/ipykernel_77358/540074054.py:24: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  n2_1 = 0 if len(n2_1) == 0 else n2_1[0]
/tmp/ipykernel_77358/540074054.py:25: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  n2_2 = 0 if len(n2_2) == 0 else n2_2[0]
/tmp/ipykernel_77358/540074054.py:30: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  n4_1 = 0 if len(n4_1) == 0 else n4_1[0]
/tmp/ipykernel_77358/540074054.py:31: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  n4_2 = 0 if len(n4_2) == 0 else n4_2[0]
/tmp/ipykernel_77358/540074054.py:33: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  n5_1 = 0 if len(n5_1) == 0 else n5_1[0]
/tmp/ipykernel_77358/540074054.py:34: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  n5_2 = 0 if len(n5_2) == 0 else n5_2[0]

True